.grid_1.alpha
  .profile_nav
    %ul
      %li.section#profile_li
        =link_to '#profile', :class => "active" do
          %span.icon u
          Profile
      %li.section#stats_li
        =link_to '#stats' do
          %span.icon C
          Statistics
      %li.section#upgrade_li
        =link_to '#upgrade' do
          %span.icon +
          Upgrade
        -if current_user.clinic_account?
          =link_to '#clinic' do
            %span.icon ⌂
            Your Clinic
      %li.active_section
        %span.icon ←
.grid_11.omega
  .profile.round
    #home_section.hidden
    #profile_section
      .profile_top
        .name
          %h1= @professional.username
          %span.user_subtitle="Member Since #{@user.created_at.strftime("%B %d, %Y")}"
        .gravatar.box_shadow
          = gravatar_for @user, {:size => 200}
          .personal_info
            -if current_user?(@user)
              %ul
                %li
                  %span.field Username
                  %span.data="#{@professional.username}"
                %li
                  %span.field Email
                  %span.data=link_to @user.email,"mailto:#{@user.email}"
        .edit_profile
          -if current_user?(@user)
            =link_to edit_professional_path(current_user.professional), :class => "edit button ivfblue" do
              %span.icon⚙ 
              Edit
      .profile_body
        %ul
          %li 
            %span.field Name
            %span.data="#{@professional.first_name} #{@professional.last_name}"
          %li 
            %span.field Profession
            %span.data= @professional.profession
          %li 
            %span.field Education Level
            %span.data= @professional.education
            -profession_select = options_for_select([["-",""],["Reproductive Endocrinologist", "Reproductive Endocrinologist"], ["Obstetrician/Gynecologist", "Obstetrician/Gynecologist"], ["Genetic Counselor", "Genetic Counselor"], ["Embryologist", "Embryologist"], ["Other Professional", "Other Professional"]], @professional.profession)
          %li 
            %span.field Phone #
            %span.data= @professional.phone
          %li 
            %span.field About You
            %span.data= @professional.about
    #stats_section.hidden
      .profile_top
        .name
          %h1 Advanced Statistics for US Fertility Clinics
          %span.user_subtitle Analysis of Clinics Relative to the National Average    
    #upgrade_section.hidden
      .profile_top
        .name
          %h1 Upgrade to a Premium Provider Account
          %span.user_subtitle Gain Access to Full Statistics and Download Privilages
    #clinic_section  
:javascript
  $(document).ready(function(){
    $('#contacted_accordion').accordion();
    
    var urlitems=window.location.href.split("#");
    var curpage=urlitems[1];
    if(curpage==null){
    
    }
    else{
      if(curpage=="profile"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(curpage=="stats"){
        $('li.active_section').animate({top:'80px'},500);
      }
      else if(curpage=="upgrade"){
        $('li.active_section').animate({top:'160px'},500);      
      }
      else if(curpage=="upgrade"){
        $('li.active_section').animate({top:'240px'},500);      
      }
      var menu_item = 'li#' + curpage + '_li a';
      $(menu_item).addClass('active');
      $(menu_item).parent().siblings().children().removeClass('active');
      
      var show_section = "div#" + curpage + "_section";  
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    }
    
    $('div.profile_nav ul li.section a').click(function(){
      $(this).parent().siblings().children().removeClass('active');
      $(this).addClass('active');
      var section_id = $(this).parent().attr('id');
      if(section_id=="profile_li"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(section_id=="stats_li"){
        $('li.active_section').animate({top:'80px'},500);
      }
      else if(section_id=="upgrade_li"){
        $('li.active_section').animate({top:'160px'},500);      
      }
      else if(section_id=="clinic_li"){
        $('li.active_section').animate({top:'240px'},500);      
      }      
      var show_section = "div#" + section_id.split("_")[0] + "_section";
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    });
  });