.grid_1.alpha
  .profile_nav
    %ul
      %li.section#profile_li
        =link_to '#profile', :class => "active" do
          %span.icon u
          Profile
      %li.section#stats_li
        =link_to '#stats' do
          %span.icon C
          Statistics
      %li.section#upgrade_li
        =link_to '#upgrade' do
          %span.icon +
          Upgrade
        -if current_user.clinic_account?
          =link_to '#clinic' do
            %span.icon ⌂
            Your Clinic
      %li.active_section
        %span.icon ←
.grid_11.omega
  .profile.round
    #home_section.hidden
    #profile_section
      .profile_top
        .name
          %h1= @professional.username
          %span.user_subtitle="Member Since #{@user.created_at.strftime("%B %d, %Y")}"
        .gravatar.box_shadow
          = gravatar_for @user, {:size => 200}
          .personal_info
            -if current_user?(@user)
              %ul
                %li
                  %span.field Username
                  %span.data="#{@professional.username}"
                %li
                  %span.field Email
                  %span.data=link_to @user.email,"mailto:#{@user.email}"
        .edit_profile
          -if current_user?(@user)
            =link_to edit_professional_path(current_user.professional), :class => "edit button ivfblue" do
              %span.icon⚙ 
              Edit
      .profile_body
        %ul
          %li 
            %span.field Name
            %span.data="#{@professional.first_name} #{@professional.last_name}"
          %li 
            %span.field Profession
            %span.data= @professional.profession
          %li 
            %span.field Education Level
            %span.data= @professional.education
            -profession_select = options_for_select([["-",""],["Reproductive Endocrinologist", "Reproductive Endocrinologist"], ["Obstetrician/Gynecologist", "Obstetrician/Gynecologist"], ["Genetic Counselor", "Genetic Counselor"], ["Embryologist", "Embryologist"], ["Other Professional", "Other Professional"]], @professional.profession)
          %li 
            %span.field Phone #
            %span.data= @professional.phone
          %li 
            %span.field About You
            %span.data= @professional.about
    #stats_section.hidden
      .profile_top
        .name
          %h1 Advanced Statistics for US Fertility Clinics
          %span.user_subtitle Analysis of Clinics Relative to the National Average    
      .profile_body_comparator
        -if current_user.subscriptions.exists?
          =render 'comparator'
        -else
          =render 'limited_comparator'
    #upgrade_section.hidden
      .profile_top
        .name
          %h1 Upgrade to a Premium Professional Account
          %span.user_subtitle Gain Access to Full Statistics and Download Privileges
      .profile_body
        #account_descs
          %h3 
            Your Current Account Type:
            %span.account_type 
            -if current_user.subscriptions.exists?
              Premium
            -else
              Basic
          %ul.account_descriptions.round
            %li.account_desc.header.top-round
              %span.feature Feature
              %span.basic Basic Account
              %span.pro Premium Account
            %li.account_desc
              %span.feature Ranking Data
              %span.basic 
                %span.icon.green_txt ✔
              %span.pro 
                %span.icon.green_txt ✔            
            %li.account_desc
              %span.feature Clinic Search
              %span.basic 
                %span.icon.green_txt ✔            
              %span.pro 
                %span.icon.green_txt ✔  
            %li.account_desc
              %span.feature Basic Statistics
              %span.basic
                %span.icon.green_txt ✔            
              %span.pro
                %span.icon.green_txt ✔            
            %li.account_desc
              %span.feature Advanced Statistics
              %span.basic
                %span.icon.red_txt ×            
              %span.pro 
                %span.icon.green_txt ✔            
            %li.account_desc
              %span.feature Data Downloads
              %span.basic
                %span.icon.red_txt ×            
              %span.pro 
                %span.icon.green_txt ✔
            %li.account_desc
              %span.feature Clinic Comparisons
              %span.basic
                %span.icon.red_txt ×            
              %span.pro 
                %span.icon.green_txt ✔
            %li.account_desc
              %span.feature Claim Your Clinic
              %span.basic
                %span.icon.red_txt ×            
              %span.pro 
                %span.icon.green_txt ✔
            %li.account_desc
              %span.feature Expert Support
              %span.basic
                %span.icon.red_txt ×            
              %span.pro 
                %span.icon.green_txt ✔
            %li.account_desc.bottom.bottom-round
              %span.feature Cost
              %span.basic Free
              %span.pro $50/month               
          .upgrade_button
            -if current_user.subscriptions.exists?
              %span Cancel Your Premium Account.
              %span#upgrade_button.button.ivfblue Cancel
            -else
              %span Upgrade to a Premium Professional Account Now!
              %span#upgrade_button.button.ivfblue Upgrade
        #upgrade_form.hidden
          -if current_user.subscriptions.exists?
            To Cancel Your Premium Account, Please Contact Althea at 646.470.7422.
          -else
            %h3 Upgrade to a Premium Professional Account at $50/month.
            %p="To upgrade to a professional account, simply provide us with payment via Visa, Mastercard, or American Expression. We use <a href='http://stripe.com'>stripe</a> to securely process your payment and bill you.".html_safe
            =form_for [@user, @subscription] do |f|          
              =# f.hidden_field :stripe_card_token       
              -if @subscription.stripe_card_token
                Credit card has been provided.
              -else
                =f.hidden_field :plan_id, :value => 1
                =f.hidden_field :stripe_card_token
                =f.hidden_field :description, :value => current_user.email
                =f.hidden_field :product, :value => "Premium Account"
                %ul            
                  %li 
                    %span.field= label_tag :card_number, "Credit Card Number"
                    %span.data= text_field_tag :card_number, nil, name: nil
                  %li 
                    %span.field= label_tag :card_code, "Security Code on Card (CVV)"
                    %span.data= text_field_tag :card_code, nil, name: nil, :size => "5"
                  %li
                    %span.field=label_tag :card_month, "Expiration Date"
                    %span.data
                      =select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}
                      =select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, id: "card_year"}
                  %li
                    %span.field=f.label :discount_code, "Discount Code"
                    %span.data
                      =f.text_field :discount_code
                .submit_button=f.submit :value => 'Upgrade.', :class => 'button white'
                #stripe_error
      :javascript
        var purchase;
        $(document).ready(function(){
          Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
          return subscription.setupForm();
        });
        subscription = {
          setupForm: function(){
            $('#new_subscription').submit(function(){
              $("input[type=submit]").attr('disabled', true);
              if($('#card_number').length){
                subscription.processCard();
                return false;
              }
              else{
                return true;
              }
            });
          },

          processCard: function(){
            var card;
            card = {
              number: $('#card_number').val(),
              cvc: $('#card_code').val(),
              expMonth: $('#card_month').val(),
              expYear: $('#card_year').val()
            };
            return Stripe.createToken(card, subscription.stripeResponseHandler);
          },

          stripeResponseHandler: function(status, response){
            if(status == 200){
              $('#subscription_stripe_card_token').val(response.id);
              $('#new_subscription')[0].submit();
            }
            else{
              $('#stripe_error').text(response.error.message);
              $("input[type=submit]").attr('disabled', false);              
            }
          }
        };
    #clinic_section  
:javascript
  $(document).ready(function(){
    $('#upgrade_button').click(function(){
      $('#account_descs').fadeOut(250, function(){
        setTimeout(function(){
          $('#upgrade_form').fadeIn(250);
        }, 250);
      });
    });
    
    var urlitems=window.location.href.split("#");
    var curpage=urlitems[1];
    if(curpage==null){
    
    }
    else{
      if(curpage=="profile"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(curpage=="stats"){
        $('li.active_section').animate({top:'80px'},500);
      }
      else if(curpage=="upgrade"){
        $('li.active_section').animate({top:'160px'},500);      
      }
      else if(curpage=="upgrade"){
        $('li.active_section').animate({top:'240px'},500);      
      }
      var menu_item = 'li#' + curpage + '_li a';
      $(menu_item).addClass('active');
      $(menu_item).parent().siblings().children().removeClass('active');
      
      var show_section = "div#" + curpage + "_section";  
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    }
    
    $('div.profile_nav ul li.section a').click(function(){
      $(this).parent().siblings().children().removeClass('active');
      $(this).addClass('active');
      var section_id = $(this).parent().attr('id');
      if(section_id=="profile_li"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(section_id=="stats_li"){
        $('li.active_section').animate({top:'80px'},500);
      }
      else if(section_id=="upgrade_li"){
        $('li.active_section').animate({top:'160px'},500);      
      }
      else if(section_id=="clinic_li"){
        $('li.active_section').animate({top:'240px'},500);      
      }      
      var show_section = "div#" + section_id.split("_")[0] + "_section";
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    });
  });