%h1 Register
.grid_4.alpha
  .third.left
    %p Register for an IVF Reports account to receive FREE access to some of our premium features including:
    %ul.content_list
      %li Clinic Review Access
      %li Favorite Clinics List
      %li Personalized Clinic Recommendations
      %li Contact a Clinic
      %li Cycle Tracking System
      %li A Community of Engaged Patients Like You
.grid_8.omega
  .twothirds.right
    = form_for(@user) do |f|
      %h2.register_blurb Join the IVF Reports Community
      = render 'shared/error_messages', :object => f.object
      %h3.register_title Required Fields
      %table.register_form
        %tr
          %td.label= f.label :name, 'Username'
          %td.input= f.text_field :name
        %tr
          %td.label= f.label :email
          %td.input= f.text_field :email
        %tr
          %td.label= f.label :password
          %td.input= f.password_field :password
        %tr
          %td.label= f.label :password_confirmation, "Confirmation"
          %td.input= f.password_field :password_confirmation
      %h3.register_title Optional - More Accurate Recommendations!
      %table.register_form
        %tr
          %td.label= f.label :gender
          -gender_select = options_for_select([['-'],['Male','male'],['Female','female']])
          %td.input= f.select(:gender, gender_select)
        %tr
          %td.label= f.label :birthday
          %td.input= f.date_select :birthday, {:start_year => Time.now.year,:end_year => 1900,:use_short_month => true,:order => [:month, :day, :year],:prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}}
        %tr
          %td.label= f.label :zip_code
          %td.input= f.text_field :zip_code, :size=>"5"
        %tr
          %td.label= f.label :ethnicity
          -ethnicity_select = options_for_select([['-'],['Caucasian','caucasian'],['East Asian','east_asian'],['South Asian','south_asian'],['Arabic','arabic'],['African','african'],['Hispanic','hispanic'],['Native American','native_american'],['Other','other']])
          %td.input= f.select(:ethnicity, ethnicity_select)
        %tr
          %td.label= f.label :previous_cycles, "Previous Cycles"
          -cycles_select = options_for_select([['-'],['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]])
          %td.input= f.select(:previous_cycles, cycles_select)
        %tr
          %td.label= f.label :infertility_diagnosis, "Infertility Diagnosis"
          -diagnosis_options = options_for_select([['-'],['Endometriosis','endometriosis'],['Diminished Ovarian Reserve','diminished_ovarian_reserve'],['Multiple Female Factors','multiple_female_factors'],['Ovulatory Dysfunction','ovulatory_dysfunction'],['Tubal Factor','tubal_factor'],['Female and Male Factors','female_and_male_factors'],['Male Factor','male_factor'],['Other Factor','other_factor'],['Uterine Factor','uterine_factor'],['Unknown Factor','unknown_factor']])
          %td.input= f.select(:infertility_diagnosis, diagnosis_options)
      .register_button= f.submit "Register", :class => 'button ivfblue'
      %span.terms_agreement
        %i="*By registering, you acknowledge that you agree to our #{link_to "Terms and Conditions", terms_and_conditions_path} and have reviewed our #{link_to "Privacy Policy", privacy_policy_path}".html_safe