.grid_1.alpha
  .profile_nav
    %ul
      %li.section#profile_li
        =link_to '#profile', :class => "active" do
          %span.icon u
          Profile
      %li.section#recs_li
        =link_to '#recs' do
          %span.icon +
          Clinic Recs 
      %li.section#contact_li
        =link_to '#contact' do
          %span.icon i
          Contact Requests
      %li.active_section
        %span.icon ←
.grid_11.omega
  .profile.round
    #home_section.hidden
    #profile_section
      .profile_top
        .name
          %h1= @user.name
          %span.user_subtitle="Member Since #{@user.created_at.strftime("%B %d, %Y")}"
        .gravatar.box_shadow
          = gravatar_for @user, {:size => 200}
          .personal_info
            -if current_user?(@user)
              %ul
                %li
                  %span.field Name
                  %span.data="#{@user.first_name} #{@user.last_name}"
                %li
                  %span.field Email
                  %span.data= link_to @user.email, @user.email
        .edit_profile
          -if current_user?(@user)
            =link_to edit_user_path(current_user), :class => "edit button ivfblue" do
              %span.icon⚙ 
              Edit
      .profile_body
        %ul
          %li
            %span.field Gender
            %span.data= @user.gender.capitalize unless @user.gender.nil?
          %li
            %span.field Ethnicity
            %span.data= @user.ethnicity.gsub("_"," ").capitalize unless @user.ethnicity.nil?
          %li
            %span.field Age
            %span.data
              -if @user.birthday.nil?
                ="-"
              -else
                ="#{(Date.today - @user.birthday).to_i/365} Years Old"
          %li
            %span.field Zip Code
            %span.data
              -if @user.zip_code.nil?
                ="-"
              -else 
                = @user.zip_code
          %li
            %span.field Previous IVF Attempts
            %span.data= @user.previous_cycles unless @user.previous_cycles.nil?
          %li
            %span.field Infertility Diagnosis
            %span.data= @user.infertility_diagnosis.gsub("_"," ").capitalize unless @user.infertility_diagnosis.nil?
          -if current_user?(@user)
            %li.about_me
              %span.field About You
              %span.data.about_me= @user.about_me
    #recs_section.hidden
      -if current_user?(@user)
        .profile_top
          .name
            %h1 Personalized Clinic Recommendations
            %span.user_subtitle="Currently showing clinics within #{@user.zip_distance} miles of #{@user.zip_code}."
          .edit_profile
            -unless @user.zip_code.nil? || @user.zip_code.empty?
              = form_for @user do |f|
                %ul.zip_search
                  -zip_distance_options = options_for_select([['-'],['25 Miles','25'],['50 Miles','50'],['100 Miles','100'],['200 Miles','200'], ['All Distances','ALL']], @user.zip_distance)
                  %li
                    %span.label= f.label :zip_distance, 'Search Within'
                    %span.select= f.select(:zip_distance, zip_distance_options)
                    %span.submit= f.submit :value => "Search.", :class => 'button ivfblue'
        .profile_body
          %ul.personal_rec_table
            -count = 0
            -@clinic_results.each do |c|
              -count += 1
              %li
                %a.rank_link{:href => "../clinics/#{c['permalink']}"}
                %span.clinic_rec_rank.round.ivfblue=count
                %span.clinic_name
                  %a{:href => "../clinics/#{c['permalink']}", :target => "_blank"}
                    =c['clinic_name']
                %span.clinic_location="#{c['city']}, #{c['state']}"
    #contact_section.hidden
      -if current_user?(@user)
        .profile_top
          .name
            %h1="Clinics Contacted (#{contacts_remaining(@user)} Requests Remaining)"
            %span.user_subtitle="Track Clinic Responses Here."
        .profile_body
          #contacted_accordion
            -if @user.requests.empty?
              %h3
                %a{:href => "#"}None Contacted Yet.
            -else
              -@user.requests.each do |r|
                %h3
                  %a{:href => "#"}="#{r.clinic.clinic_name} - #{r.clinic.city}, #{r.clinic.state}"
                %div
                  %ul.contacted
                    %li
                      %span.field Clinic
                      %span.data
                        = link_to r.clinic do |l|
                          %span.icon ⌂
                          = r.clinic.clinic_name
                    %li
                      %span.field Contacted
                      %span.data= r.created_at.strftime("%B %d, %Y")
                    %li
                      %span.field Response
                      %span.data
                        -if r.visible==true
                          ="Contact Accepted - #{r.updated_at.strftime("%B %d, %Y")}"
                        -elsif r.declined==true
                          ="Contact Declined - #{r.updated_at.strftime("%B %d, %Y")}"
                        -else
                          ="No Response Yet"

    #reviews_section  
:javascript
  $(document).ready(function(){
    $('#contacted_accordion').accordion();
    
    var urlitems=window.location.href.split("#");
    var curpage=urlitems[1];
    if(curpage==null){
    
    }
    else{
      if(curpage=="profile"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(curpage=="recs"){
        $('li.active_section').animate({top:'80px'},500);
      }
      else if(curpage=="contact"){
        $('li.active_section').animate({top:'160px'},500);      
      }
      var menu_item = 'li#' + curpage + '_li a';
      $(menu_item).addClass('active');
      $(menu_item).parent().siblings().children().removeClass('active');
      
      var show_section = "div#" + curpage + "_section";  
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    }
    
    $('div.profile_nav ul li.section a').click(function(){
      $(this).parent().siblings().children().removeClass('active');
      $(this).addClass('active');
      var section_id = $(this).parent().attr('id');
      if(section_id=="profile_li"){
        $('li.active_section').animate({top:'0px'},500);
      }
      else if(section_id=="recs_li"){
        $('li.active_section').animate({top:'80px'},500);
      }
      else if(section_id=="contact_li"){
        $('li.active_section').animate({top:'160px'},500);      
      }
      var show_section = "div#" + section_id.split("_")[0] + "_section";
      $(show_section).siblings().fadeOut(250, function(){
        setTimeout(function(){
          $(show_section).fadeIn(250);
        }, 250);
      });
    });
  });