.yield_content
  %h1="Contact the Best Clinics for You in Your Area".html_safe
  %hr.top_divider
  .grid_12.alpha.omega
    .progress_bar
      %span.step.filled.round.ivfblue
        %span.number 1. 
        %span.task Analyze Demographics
        %span.icon ✔
      %span.step.round.white
        %span.number 2. 
        %span.task Reach Out to Clinics
        %span.icon ✔
      %span.step.round.white
        %span.number 3. 
        %span.task Learn More
        %span.icon →
  %hr.top_divider
  .grid_12.alpha.omega
    .match_blurb
      Our algorithms have determined that the clinics listed below are the best clinics for treating a patient in your age group and with your specific medical history. If you are interested in being contacted by these clinics, please fill our the contact form so that we may get your case high visibility within our network of clinics.
  .grid_4.alpha
    .third.left
      .info_form.round
        %h2="Enter Contact Details"
        =form_tag({:action => 'lead_save', :controller => 'pages'},{:method => :post}) do
          =hidden_field_tag :city, @city
          =hidden_field_tag :state, @state
          =hidden_field_tag 'birthday(1i)', @birthday1
          =hidden_field_tag 'birthday(2i)', @birthday2
          =hidden_field_tag 'birthday(3i)', @birthday3
          =hidden_field_tag :gender, @gender
          =hidden_field_tag :zip_code, @zip_code
          =hidden_field_tag :ethnicity, @ethnicity
          =hidden_field_tag :infertility_diagnosis, @infertility_diagnosis
          =hidden_field_tag :diagnosis, @diagnosis
          =hidden_field_tag :age_group, @age_group
          =hidden_field_tag :previous_cycles, @previous_cycles
          =hidden_field_tag :latitude, @latitude
          =hidden_field_tag :longitude, @longitude
          %ul
            %li
              %span.label
                = label_tag :first_name
              %span.field
                = text_field_tag :first_name, nil, :placeholder => "First Name", :class => "field"
            %li
              %span.label
                = label_tag :last_name
              %span.field
                = text_field_tag :last_name, nil, :placeholder => "Last Name", :class => "field"
            %li            
              %span.label
                = label_tag :address
              %span.field
                = text_field_tag :address, nil, :placeholder => "Address", :class => "field"
            %li.address
              %span.field
                = "#{@address}"
            %li
              %span.label
                = label_tag :email
              %span.field
                = text_field_tag :email, nil, :placeholder => "Email", :class => "field"          
            %li
              %span.label
                = label_tag :phone
              %span.field
                = text_field_tag :phone, nil, :class => "field phone_number", :placeholder => "(###) ###-####"
          %span.contact_now
            = submit_tag "Contact.", :class => "submit button ivfblue"
  .grid_4
    .third.middle
      .clinic_rec_list.round
        %h2 Clinics to Contact
        %ul
          %li.headers
            %span.demographics Clinic Location
            %span.score Score
          -@clinic_results.each do |c|
            %li
              %span.demographics="#{c['city']}, #{c['state']}"
              %span.score.round.ivfblue=c["ivf_reports_score"].round(1)
  .grid_4.omega
    .third.right
      .google_map_listing
        #google_map.mini_google_map_canvas
%script{:type => "text/javascript", :src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyBr81CBromVSoshojwDkMb7jEn2EtNkJ3g&sensor=true"}        
:javascript
  $(document).ready(function(){
    $('input.phone_number').mask('(999) 999-9999');
    
    $.ajax({
      url: "#{url_for(:action => 'clinicfind')}",
      dataType: 'json',
      async: true,
      cache: false,
      success: 	function(data){
        plotClinics(data);
      }
    });
    
    
    var map;
    var geocoder;
    var zip_code = #{@zip_code};
    var lat = #{@latitude};
    var lng = #{@longitude};
    var address = zip_code;
    
    
    var latlng = new google.maps.LatLng(lat,lng);
    
    initializeMap();
    
    function initializeMap() {
      
      var myOptions = {
        zoom: 8,
        center: latlng,
        panControl: false,
        zoomControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("google_map"), myOptions);
    }

    function plotClinics(clinic_data){
      $.each(clinic_data, function(k){
        var contentString = '<div id="content">'+
        '<h2><a href="/clinics/'+clinic_data[k].permalink+'" >'+ clinic_data[k].clinic_name +'</a></h2>'+
        '<div class="gmap_score_section">'+
        '<ul class="gmap">'+
        '<li>IVF Reports Score: ' + '<span class="score">' + Math.round((clinic_data[k].ivf_reports_score)*100)/100 + '</span></li>'+
        '<li>Quality Score: ' + '<span class="score">' + Math.round((clinic_data[k].quality_score)*100)/100 + '</span></li>'+
        '<li>Safety Score: ' + '<span class="score">' + Math.round((clinic_data[k].safety_score)*100)/100 + '</span></li>'+
        '<li>SART Score: ' + '<span class="score">' + Math.round((clinic_data[k].sart_score)*100)/100 + '</span></li>'+
        '</ul>' + 
        '</div>'+
        '<div id="bodyContent">'+
        '<p>'+ clinic_data[k].info +'</p>'+
        '</div>'+
        '</div>';

        //initialize the infobox for the clinic
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        //plot the clinic marker
        if(clinic_data[k].ivf_reports_score >= 90){
          var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_green.png');
        }
        else if(clinic_data[k].ivf_reports_score >= 80 && clinic_data[k].ivf_reports_score < 90){
          var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_blue.png');
        }
        else if(clinic_data[k].ivf_reports_score >= 70 && clinic_data[k].ivf_reports_score < 80){
          var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_yellow.png');				
        }
        else{
          var icon_image = new google.maps.MarkerImage('http://labs.google.com/ridefinder/images/mm_20_gray.png');
        }
        var myLatLng = new google.maps.LatLng(clinic_data[k].latitude, clinic_data[k].longitude);
        var clinicMarker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: clinic_data[k].clinic_name,
          icon: icon_image
        });

        //assign the infobox to the clinic marker upon a click event
        //google.maps.event.addListener(clinicMarker, 'click', function() {
          //infowindow.open(map,clinicMarker);
        //});
      });
    }
  });