<!DOCTYPE html>
<html>
<head>
  	<title><%= title %></title>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "application" %>
	<%= render 'layouts/meta' if Rails.env.production? %>
	<link rel="shortcut icon" href="<%= asset_path 'favicon.png' %>">
	<link rel="icon" href="<%= asset_path 'favicon.png' %>">	
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Quicksand:300,400,700|Josefin+Sans:100,300,400,600' rel='stylesheet' type='text/css'>
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->
  	<%= csrf_meta_tags %>
</head>
<body>
	<div class="app_bg">
	  <div class="container_12">
      <div class="grid_12">  
	      <div class="wrapper">
	  
	        <%= render 'layouts/header' %>
		
	        <section class="page-body-content">
			      <% if is_clinic_index? %>
				      <div class="yield_content">
				        <%= yield %>			
				      </div>
			      
			      <% elsif is_clinic_explorer? || is_clinic_comparator? || (is_controller?('statistics')) %>
				      <div class="explorer_content">
						    <% flash.each do |key, value| %>
							    <div class="grid_9 alpha"><div class="flash <%= key %> white round"><%= value %><span class="flash_close"><span class="icon">X</span></span></div></div>
						    <% end %>
                <%= yield %>
				      </div>


			      <% else %>

  				    <% if is_controller?('pages') && is_action?('home') %>
  				      <% unless signed_in? %>
  					      <div class="grid_12 alpha omega">
  						      <%= render 'layouts/call_to_action' %>
  					      </div>
  				      <% end %>
  				    <% end %>

				      <div class="grid_12 alpha omega">
					      <div class="yield_content">
						      <% flash.each do |key, value| %>
							      <div class="grid_12 alpha omega"><div class="flash <%= key %> white round"><%= value %><span class="flash_close"><span class="icon">X</span></span></div></div>
						      <% end %>
		              <%= yield %>
					      </div>
				      </div>
				      
			      <% end %>
	        </section>
  		  </div>
  	  </div>
  	</div>
  	<%= render 'layouts/footer' %>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('span.flash_close').click(function(){
      $('div.flash').hide('slow');
    });
  });
  </script>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
